<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Summoners War</title>
  <link rel='stylesheet' href='https://bootswatch.com/4/yeti/bootstrap.min.css' />
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css' />
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-secondary bg-primary">
      <a class="navbar-brand" href="/">
        <img
          src="https://cdn.game.tv/game-tv-content/images_2/default/game_logo/en/03989854ff11b7dd541caf55f3fb1ae3.png"
          width="90" height="40" alt="">
      </a>
    </nav>
  </header>

  <main>
    <div class="bg-light">
      {{{body}}}
    </div>
  </main>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/cjs/popper.js'></script>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>
</body>

</html>